@charset "UTF-8";

/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}
ul, ol {
    list-style: none;
}
input {
    padding-top: 0;
    padding-bottom: 0;
}
select, input, textarea {
    margin: 0;
}

body {
    font-size: 14px;
    font-family: "PingFang SC","Hiragino Sans GB","Microsoft Yahei",SimSun,
    Arial,"Helvetica Neue",Helvetica，Helvetica, Arial, sans-serif;
    color: #333;
    background: #f4f5f6
}

input, textarea, keygen, select, button {
    font-family: "PingFang SC","Hiragino Sans GB","Microsoft Yahei",SimSun,
    Arial,"Helvetica Neue",Helvetica，Helvetica, Arial, sans-serif;
    outline: none;
}

input,
button{
  padding-top: 0;
  padding-bottom: 0;
}

a {
    color: #666;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}
s, i, em {
    font-style: normal;
    text-decoration: none;
}
.w {
    width: 1210px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.cl {
    clear: both;
}

/*防止拖动*/
textarea {
    resize: none;
}

/*  去掉图片低测默认的3像素空白缝隙*/
img {
    border: 0;
}

/*空img标签边框去除*/
img[src=""]{
    opacity: 0;
}

/*滚动条*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #d8d8d8;
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #d8d8d8;
    -webkit-border-radius: 5px;
}


.clearfix:before, .clearfix:after {
    content: "";
    display: block;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

.btn-confirm {
    width: 122px;
    height: 36px;
    border: none;
    color: #333;
    cursor: pointer;
    border-radius: 18px;
    background: #ffda44;
}
.btn-confirm:hover {
    background: #ffcd00;
}
.btn-cancel {
    width: 122px;
    height: 36px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 18px;
    background: #848484;
}
.btn-cancel:hover {
    background: #4A4A4A;
}
